*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    margin: 0;
}

.top {
    background-image: linear-gradient(rgb(2, 13, 78),white );
    font-weight: bold;
    text-align: center;
    padding: 20px;
    height: 400px;
    display: block;
}

li {
    color: gray;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

ul {
    margin-top: 50px;
    margin-bottom: 50px;
}

.lvlButton {
    background-color: darkslateblue;
    color: white;
    height: 60px;
    width: 60px;
}

.schoolButton {
    background-color: rgb(58, 58, 69);
    color: white;
    height: 45px;
    width: 100px;
}

.archButton {
    background-color: rgb(9, 9, 87);
    color: white;
    height: 45px;
    width: 100px;
}

.spellTemplate {
    text-align: center;
    padding: 10px;
    background-color: rgb(28, 30, 106);
    color: white;
    border-radius: 25px;
    display: block;
    height: 60px;
    width: 100%;
    font-size: 20px;
}

.endpoint {
    background-image: linear-gradient(white, rgb(2, 13, 78));
    display: block;
    z-index: 10;
    width: 102.85%;
    transform: translateX(-20px);
}

#spellHolder {
    margin: 30px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#RamielPic {
    width: 80%;
}